@font-face {
	font-family: MinecraftSevenv4;
	src: local('MinecraftSevenv4'),
		url('/res/Minecraft-Seven-v4.ttf') format('truetype');
}

@font-face {
	font-family: Unifont;
	src: local('Unifont'),
		url('/res/unifont-15.1.05.woff2') format('woff2');
}

html {
	&[lang="en"] {
		.mc-font {
			font-size: 10px;
		}
	}
}

body {
	margin: 0;
	overflow: hidden;
}


img {
	width: 100%;
	height: 100%;
	// object-fit: cover;
	user-select: none;
	-webkit-user-drag: none;

	&.pixel {
		image-rendering: pixelated;
	}
}

span {
	display: block;
}

.mc-font {
	font-family: MinecraftSevenv4, Unifont, 宋体;
	text-rendering: optimizeLegibility;
}

#app {
	width: 100%;
	height: 100%;
}

.bg {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;

	>img {
		object-fit: cover;
	}
}

.visual-keys {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	@media screen and (max-width: 768px) {
		display: block;
	}

	@media screen and (max-height: 768px) {
		display: block;
	}

	button {
		position: absolute;
		padding: 1rem;
		border: 1px solid #fff;
		border-radius: 6px;
		color: #fff;
		background-color: transparent;
		cursor: pointer;
	}
}

.crosshair {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
	height: 32px;
}

.hand {
	position: absolute;
	width: 300px;
	height: 300px;
	right: 12%;
	bottom: 0;
}

.status {
	position: absolute;
	margin-bottom: 4px;

	display: grid;
	grid-template-areas:
		'armor air'
		'hearts food'
		'exp exp';
	justify-content: space-between;

	.armor {
		grid-area: armor;
	}

	.air {
		grid-area: air;
	}

	.hearts {
		grid-area: hearts;
	}

	.food {
		grid-area: food;
	}

	.air, .food {
		>* {
			right: 0;
			flex-direction: row-reverse;
		}
	}

	>*:not(.exp) {
		width: 180px;
		height: 18px;
		position: relative;
		margin-bottom: 2px;

		>* {
			width: 18px;
			height: 100%;
			position: absolute;
			display: flex;
		}

		>.full {
			z-index: 1;
		}

		>.container {
			z-index: 0;
		}
	}

	.exp {
		grid-area: exp;
		width: 100%;
		height: fit-content;

		>.level {
			position: absolute;
			left: 50%;
			bottom: 4px;
			transform: translateX(-50%);
			color: #ff0;
			font-size: 16px;
			text-shadow: 2px 0 #000, 0 2px #000, -2px 0 #000, 0 -2px #000;
			// -webkit-text-stroke: 0.8px #000;
			z-index: 2;
		}

		>.bar {
			width: 100%;
			height: 11px;
			position: relative;
			>* {
				position: absolute;
				width: 100%;
				height: fit-content;
			}

			>.full {
				left: 0;
				top: 0;
				height: 100%;
				object-fit: cover;
				object-position: left center;
				z-index: 1;
			}

			>.container {
				width: 100%;
				z-index: 0;
			}
		}
	}
}

.hotbar,
.hotbar-selection {
	position: absolute;
	left: 0;
	width: 100%;
	height: 42px;

	&:is(.hotbar) {
		bottom: 0;
	}

	&:is(.hotbar-selection) {
		bottom: 2px;
	}
}